# Avito Demand Prediction Challenge – Baseline

<br />
<br />
<br />


![](http://www.ewdn.com/wp-content/uploads/sites/6/2017/02/logo-avito.png)

<br />
<br />
<br />

# Load Libraries

In [2]:
import pandas as pd # package for high-performance, easy-to-use data structures and data analysis
import numpy as np # fundamental package for scientific computing with Python
import matplotlib
import matplotlib.pyplot as plt # for plotting
import seaborn as sns # for making plots with seaborn
color = sns.color_palette()
#import plotly.offline as py
#py.init_notebook_mode(connected=True)
#from plotly.offline import init_notebook_mode, iplot
#init_notebook_mode(connected=True)
#import plotly.graph_objs as go
#import plotly.offline as offline
#offline.init_notebook_mode()
#import plotly.tools as tls
#import squarify
#from mpl_toolkits.basemap import Basemap
from numpy import array
from matplotlib import cm

from sklearn import preprocessing
# Supress unnecessary warnings so that presentation looks clean
import warnings
warnings.filterwarnings("ignore")

# Print all rows and columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

from nltk.corpus import stopwords
from textblob import TextBlob
import datetime as dt
import warnings
import string
import time
# stop_words = []
stop_words = list(set(stopwords.words('russian')))
warnings.filterwarnings('ignore')
punctuation = string.punctuation

# Plotting Decision tree
from sklearn import tree
from IPython.display import Image as PImage
from subprocess import check_call
from PIL import Image, ImageDraw, ImageFont
import re

# Venn diagram
from matplotlib_venn import venn2

# Read the Data

In [3]:
periods_train_path = '/Users/EdwardLeardi/Desktop/Google Drive/Developer/Kaggle/Avito_Data/periods_train.csv'
periods_test_path = '/Users/EdwardLeardi/Desktop/Google Drive/Developer/Kaggle/Avito_Data/periods_test.csv'

train_csv_path = '/Users/EdwardLeardi/Desktop/Google Drive/Developer/Kaggle/Avito_Data/train.csv'
test_csv_path = '/Users/EdwardLeardi/Desktop/Google Drive/Developer/Kaggle/Avito_Data/test.csv'

train_active_path = '/Users/EdwardLeardi/Desktop/Google Drive/Developer/Kaggle/Avito_Data/train_active.csv'
test_active_path = '/Users/EdwardLeardi/Desktop/Google Drive/Developer/Kaggle/Avito_Data/test_active.csv'

print("Reading Data......")
periods_train = pd.read_csv(periods_train_path, parse_dates=["activation_date", "date_from", "date_to"])
periods_test = pd.read_csv(periods_test_path, parse_dates=["activation_date", "date_from", "date_to"])

train = pd.read_csv(train_csv_path)
test = pd.read_csv(test_csv_path)

# train_active = pd.read_csv(train_csv_path)    # 3GB
# test_active = pd.read_csv(test_csv_path)    # 2GB
print("Reading Done....")

Reading Data......
Reading Done....

In [4]:
print("size of train data", train.shape)
print("size of test data", test.shape)
print("size of periods_train data", periods_train.shape)
print("size of periods_test data", periods_test.shape)

size of train data (1503424, 18)
size of test data (508438, 17)
size of periods_train data (16687412, 4)
size of periods_test data (13724922, 4)

In [5]:
train.head(3)

,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date,user_type,image,image_top_1,deal_probability
0,b912c3c6a6ad,e00f8ff2eaf9,Свердловская область,Екатеринбург,Личные вещи,Товары для детей и игрушки,Постельные принадлежности,NaN,NaN,Кокоби(кокон для сна),"Кокон для сна малыша,пользовались меньше месяц...",400.0,2,2017-03-28,Private,d10c7e016e03247a3bf2d13348fe959fe6f436c1caf64c...,1008.0,0.12789
1,2dac0150717d,39aeb48f0017,Самарская область,Самара,Для дома и дачи,Мебель и интерьер,Другое,NaN,NaN,Стойка для Одежды,"Стойка для одежды, под вешалки. С бутика.",3000.0,19,2017-03-26,Private,79c9392cc51a9c81c6eb91eceb8e552171db39d7142700...,692.0,0.00000
2,ba83aefab5dc,91e2f88dd6e3,Ростовская область,Ростов-на-Дону,Бытовая электроника,Аудио и видео,"Видео, DVD и Blu-ray плееры",NaN,NaN,Philips bluray,"В хорошем состоянии, домашний кинотеатр с blu ...",4000.0,9,2017-03-20,Private,b7f250ee3f39e1fedd77c141f273703f4a9be59db4b48a...,3032.0,0.43177

In [6]:
periods_train.head(3)

        item_id activation_date  date_from    date_to
0  8f5caef7afb0      2017-02-14 2017-03-15 2017-03-16
1  66218ff526d1      2017-02-16 2017-03-15 2017-03-18
2  b237d9539b21      2017-03-01 2017-03-15 2017-03-28

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1503424 entries, 0 to 1503423
Data columns (total 18 columns):
item_id                 1503424 non-null object
user_id                 1503424 non-null object
region                  1503424 non-null object
city                    1503424 non-null object
parent_category_name    1503424 non-null object
category_name           1503424 non-null object
param_1                 1441848 non-null object
param_2                 848882 non-null object
param_3                 640859 non-null object
title                   1503424 non-null object
description             1387148 non-null object
price                   1418062 non-null float64
item_seq_number         1503424 non-null int64
activation_date         1503424 non-null object
user_type               1503424 non-null object
image                   1390836 non-null object
image_top_1             1390836 non-null float64
deal_probability        1503424 non-null float64
dtypes: float64(3), int64(1), object(14)
memory usage: 206.5+ MB

In [8]:
train.describe()

              price  item_seq_number   image_top_1  deal_probability
count  1.418062e+06     1.503424e+06  1.390836e+06      1.503424e+06
mean   3.167081e+05     7.436740e+02  1.241932e+03      1.391306e-01
std    6.689154e+07     5.572522e+03  9.704641e+02      2.600785e-01
min    0.000000e+00     1.000000e+00  0.000000e+00      0.000000e+00
25%    5.000000e+02     9.000000e+00  4.250000e+02      0.000000e+00
50%    1.300000e+03     2.900000e+01  1.057000e+03      0.000000e+00
75%    7.000000e+03     8.800000e+01  2.217000e+03      1.508700e-01
max    7.950101e+10     2.044290e+05  3.066000e+03      1.000000e+00

# Data Preparation

In [10]:
# checking missing data in training data 
total = train.isnull().sum().sort_values(ascending = False)
percent = (train.isnull().sum()/train.isnull().count()*100).sort_values(ascending = False)
missing_train_data  = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_train_data.head(10)

                Total    Percent
param_3        862565  57.373369
param_2        654542  43.536753
description    116276   7.734079
image          112588   7.488772
image_top_1    112588   7.488772
price           85362   5.677839
param_1         61576   4.095718
category_name       0   0.000000
user_id             0   0.000000
region              0   0.000000

In [11]:
# checking missing data in periods data 
total = periods_train.isnull().sum().sort_values(ascending = False)
percent = (periods_train.isnull().sum()/periods_train.isnull().count()*100).sort_values(ascending = False)
missing_train_data  = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_train_data.head()

                 Total   Percent
activation_date   5790  0.034697
date_to              0  0.000000
date_from            0  0.000000
item_id              0  0.000000

In [ ]:
# Translate region

from io import StringIO

conversion = StringIO("""
region,region_english
Свердловская область, Sverdlovsk oblast
Самарская область, Samara oblast
Ростовская область, Rostov oblast
Татарстан, Tatarstan
Волгоградская область, Volgograd oblast
Нижегородская область, Nizhny Novgorod oblast
Пермский край, Perm Krai
Оренбургская область, Orenburg oblast
Ханты-Мансийский АО, Khanty-Mansi Autonomous Okrug
Тюменская область, Tyumen oblast
Башкортостан, Bashkortostan
Краснодарский край, Krasnodar Krai
Новосибирская область, Novosibirsk oblast
Омская область, Omsk oblast
Белгородская область, Belgorod oblast
Челябинская область, Chelyabinsk oblast
Воронежская область, Voronezh oblast
Кемеровская область, Kemerovo oblast
Саратовская область, Saratov oblast
Владимирская область, Vladimir oblast
Калининградская область, Kaliningrad oblast
Красноярский край, Krasnoyarsk Krai
Ярославская область, Yaroslavl oblast
Удмуртия, Udmurtia
Алтайский край, Altai Krai
Иркутская область, Irkutsk oblast
Ставропольский край, Stavropol Krai
Тульская область, Tula oblast
""")

conversion = pd.read_csv(conversion)
train = pd.merge(train, conversion, how="left", on="region")

In [ ]:
train.head(3)